<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理后台</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="../../static/css/typo.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h3 class="ui header item" style="font-family: STHeiti Light">管理后台</h3>
                <div class="centered m-item item m-mobile-hide">
                    <a href="#" class="m-item item"><i class="home icon"></i>主页</a>
                    <a href="#" class="m-item item"><i class="archive icon"></i>归档</a>
                    <a href="#" class="m-item item"><i class="book icon"></i>目录</a>
                    <a href="#" class="m-item item"><i class="list icon"></i>清单</a>
                </div>
                <div class="right m-item menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/images/avatar.jpg"> zesiar0
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide" style="display: none">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <a href="#" class="item">发布</a>
        <a href="#" class="active teal item">列表</a>
    </div>
</div>

<!--中间主体内容-->
<div class="m-container-mini m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" class="ui orange segment form">
            <div class="ui horizontal divider header">
                <i class="edit icon"></i>编辑
            </div>
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1">错误日志</div>
                            <div class="item" data-value="2">开发者手册</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui orange basic button"><i class="search icon"></i>搜索</button>
                </div>
                <div class="field">
                    <a href="#" class="ui right teal floated basic button">新增</a>
                </div>
            </div>
        </form>
        <table class="ui red celled table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>刻意练习清单</td>
                    <td>认知升级</td>
                    <td>是</td>
                    <td>2017-10-02 09:45</td>
                    <td>
                        <a href="#" class="ui mini teal basic button">编辑</a>
                        <a href="#" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>刻意练习清单</td>
                    <td>认知升级</td>
                    <td>是</td>
                    <td>2017-10-02 09:45</td>
                    <td>
                        <a href="#" class="ui mini teal basic button">编辑</a>
                        <a href="#" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>刻意练习清单</td>
                    <td>认知升级</td>
                    <td>是</td>
                    <td>2017-10-02 09:45</td>
                    <td>
                        <a href="#" class="ui mini teal basic button">编辑</a>
                        <a href="#" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>刻意练习清单</td>
                    <td>认知升级</td>
                    <td>是</td>
                    <td>2017-10-02 09:45</td>
                    <td>
                        <a href="#" class="ui mini teal basic button">编辑</a>
                        <a href="#" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>刻意练习清单</td>
                    <td>认知升级</td>
                    <td>是</td>
                    <td>2017-10-02 09:45</td>
                    <td>
                        <a href="#" class="ui mini teal basic button">编辑</a>
                        <a href="#" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui mini right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-large">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/1.jpg" class="ui rounded image" alt="" style="width: 140px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系方式</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">zesiar0's blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright@2021 zesiar0</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleAttribute('m-mobile-show');
    });

    $('.ui.dropdown').dropdown({

    });
</script>
</body>
</html>