<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav id="nav" class="gird-header m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h3 class="ui header item" style="font-family: STHeiti Light">zesiar0的秘密基地</h3>
            <div class="centered m-item item m-mobile-hide">
                <a href="#" class="m-item item"><i class="home icon"></i>主页</a>
                <a href="#" class="m-item item"><i class="archive icon"></i>归档</a>
                <a href="#" class="m-item item"><i class="book icon"></i>目录</a>
                <a href="#" class="m-item item"><i class="list icon"></i>清单</a>
                <a href="#" class="m-item item"><i class="linkify icon"></i>友链</a>
                <a href="#" class="m-item item"><i class="heart icon"></i>关于</a>
            </div>
            <div class="right m-item item">
                <form name="search" action="#" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search....">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide" style="display: none">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间主体内容-->
<div class="m-container-mini m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2> 个
                </div>
            </div>
        </div>

        <div class="ui attached segment m-padded-tb-large">
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
        </div>

        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">第一篇文章</h3>
                        <p class="m-text">第一篇文章，测试用途</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">zesiar0</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2021-2-25
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">测试文章</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/background2.jpg" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">第一篇文章</h3>
                        <p class="m-text">第一篇文章，测试用途</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">zesiar0</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2021-2-25
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">测试文章</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/background2.jpg" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">第一篇文章</h3>
                        <p class="m-text">第一篇文章，测试用途</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">zesiar0</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2021-2-25
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">测试文章</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/background2.jpg" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">第一篇文章</h3>
                        <p class="m-text">第一篇文章，测试用途</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">zesiar0</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2021-2-25
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">测试文章</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/background2.jpg" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">第一篇文章</h3>
                        <p class="m-text">第一篇文章，测试用途</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">zesiar0</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2021-2-25
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">测试文章</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/background2.jpg" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-large">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/1.jpg" class="ui rounded image" alt="" style="width: 140px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系方式</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">zesiar0's blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright@2021 zesiar0</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleAttribute('m-mobile-show');
    });
</script>
</body>
</html>